  <!--  The Modals-->
    <!--  Modal of locations for sipnsoap-->
    <div class="modal fade" id="sipnsoap" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Click on Locations for Dates and Time</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div data-name="SipnSoap" id="clicksipnsoap">
            <a href="/classes/SipnSoap/Hoboken"><button type="button" class="btn btn-outline-info sip" data-name="Hoboken">Hoboken</button></a>
            <a href="/classes/SipnSoap/Emerson"><button type="button" class="btn btn-outline-info sip" data-name="Emerson">Emerson</button></a>
            <a href="/classes/SipnSoap/Virginia"><button type="button" class="btn btn-outline-info sip" data-name="Virginia">Virginia</button></a>
            <a href="/classes/SipnSoap/Soho"><button type="button" class="btn btn-outline-info sip" data-name="Soho">Soho</button></a>
            <a href="/classes/SipnSoap/Williamsburg"><button type="button" class="btn btn-outline-info sip" data-name="Williamburg">Williamburg</button></a>
            <a href="/classes/SipnSoap/Washington"><button type="button" class="btn btn-outline-info sip" data-name="Washington">Washington, DC</button></a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--  Modal of locations for terrarium-->
    <div class="modal fade" id="terrarium" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Click on Locations for Dates and Times</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--<div class="modal-body">-->
            <div id="clickterrarium">
            <a href="/classes/Terrarium/Hoboken"><button type="button" class="btn btn-outline-info terr" data-name="Hoboken">Hoboken</button></a>
            <a href="/classes/Terrarium/Emerson"><button type="button" class="btn btn-outline-info terr" data-name="Emerson">Emerson</button></a>
            <a href="/classes/Terrarium/Virginia"><button type="button" class="btn btn-outline-info terr" data-name="Virginia">Virginia</button></a>
            <a href="/classes/Terrarium/Soho"><button type="button" class="btn btn-outline-info terr" data-name="Soho">Soho</button></a>
            <a href="/classes/Terrarium/Williamsburg"><button type="button" class="btn btn-outline-info terr" data-name="Williamburg">Williamburg</button></a>
            <a href="/classes/Terrarium/Washington"><button type="button" class="btn btn-outline-info terr" data-name="Washington">Washington, DC</button></a>
            </div>
          <!--</div>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
          </div>
        </div>
      </div>
    </div>

    <!--  Modal of locations for soapworkshop -->
    <div class="modal fade" id="soapworkshop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Click on Locations for Dates and Times</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--<div class="modal-body">-->
            <div id="clicksoapworkshop">

            <a href="/classes/SoapWorkshop/Hoboken"><button type="button" class="btn btn-outline-info sws" data-name="Hoboken">Hoboken</button></a>
            <a href="/classes/SoapWorkshop/Emerson"><button type="button" class="btn btn-outline-info sws" data-name="Emerson">Emerson</button></a>
            <a href="/classes/SoapWorkshop/Virginia"><button type="button" class="btn btn-outline-info sws" data-name="Virginia">Virginia</button></a>
            <a href="/classes/SoapWorkshop/Soho"><button type="button" class="btn btn-outline-info sws" data-name="Soho">Soho</button></a>
            <a href="/classes/SoapWorkshop/Williamsburg"><button type="button" class="btn btn-outline-info sws" data-name="Williamburg">Williamburg</button></a>
            <a href="/classes/SoapWorkshop/Washington"><button type="button" class="btn btn-outline-info sws" data-name="Washington">Washington, DC</button></a>
            </div>
          <!--</div>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
          </div>
        </div>
      </div>
    </div>