<body id="page-top">

    <!-- Navigation -->
    {{> nav }}
      
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>MAKE COOL STUFF WITH THE PEOPLE YOU LOVE</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
           <!-- <p class="text-faded mb-5">Welcome to the website</p> -->
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Get More Info</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Here's What We Do</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">We bring people together to create unique, hand-made crafts through creative workshops.</p>
            <p class="text-faded mb-4">You don't need any skills or experience to enjoy creating your very own masterpiece!</p>

            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Check Out Our Classes</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">


        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Sip n Soap</h3>
              <p class="text-muted mb-0">Hosted at local bars where you spend time with friends while making unique soap creations!</p>
              <p class="text-muted mb-0">Duration: 2hrs</p>
              <p class="text-muted mb-0">Cost: $140</p>
              <br>
              
              <!-- Button to trigger modal (id is sipnsoap)-->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sipnsoap">
                  Sip 'n Soap locations
              </button>

            </div>
          </div>

          <!-- Cut -->

          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Terrarium</h3>
              <p class="text-muted mb-0">Choose from a selection of cacti and succulents to build your own terrarium!</p>
              <p class="text-muted mb-0">Duration: 2hrs</p>
              <p class="text-muted mb-0">Cost: $90</p>
              <br>
              <!-- Button to trigger modal (id is terrarium) -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#terrarium">
                Terrarium locations
              </button>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Soap Workshop</h3>
              <p class="text-muted mb-0">Learn the soap making process while creating your own unique soap masterpiece!</p>
              <p class="text-muted mb-0">Duration: 2hrs</p>
              <p class="text-muted mb-0">Cost: $140</p>
              <br>
              <!-- Button to trigger modal (id is soapworkshop) -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#soapworkshop">
                Soap Workshop locations
              </button>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Private Party</h3>
              <p class="text-muted mb-0">Make a truly unique experience by having a private party at one of our nearby locations! Our instructors and materials are at your service.</p>
              <br>
              <!-- Button to go to contact area -->
              <a class="btn btn-primary" href="#contact" role="button">Create Fun</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                  
                  </div>
                  <div class="project-name">
                    
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
    
                  </div>
                  <div class="project-name">

                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                      </div>
                      <div class="project-name">
                       
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                   
                  </div>
                  <div class="project-name">
                  
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                   
                  </div>
                  <div class="project-name">
                  
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                   
                  </div>
                  <div class="project-name">
                    
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
<!-- YouTube 
    <section class= "embed-responsive embed-responsive-16by9 col-xs-12 text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fwpVx-nz0Ko" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="container text-center">
-->
        

    <div class='row bg-primary'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8'>
        <div class="embed-responsive embed-responsive-16by9" id="videothumbnail">

            <iframe class="my_class_name" width="640" height="360" src="https://www.youtube.com/embed/fwpVx-nz0Ko" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class='col-sm-2'></div>
</div>


<!-- YouTube
<center>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item"  id="videothumbnail" src="https://www.youtube.com/embed/fwpVx-nz0Ko" align="center"></iframe>
</div>
</center>
-->
        
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Have a question? Call us to talk with someone!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>201.477.2186</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">info@kraftylab.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
{{> class-modal }}

</body>
