{{!-- <!DOCTYPE html>
<html lang="en"> --}}


  <!-- <body id="page-top"> -->
   {{> nav }}
  


    <section id="contact">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Schedule a Class!</h2>
            <hr class="my-4">
            {{!-- <h3 class="mb-5">Sip N Soap in Hoboken</h3> --}}
          </div>
        </div>

    

      {{#each classes}}
      {{this.city_address}}
      {{this.date_time}}

      {{/each}}

           {{> form}}
           {{!-- issue might be sending an html file back; after template object --}}


        </div>
      </div>
    </section>

    <section>

      
    </section>





    <div class="sip" id="sipnsoapcontainer">




    </div>


  
{{!-- 
</html> --}}